parameters:
    level: 1
    checkMissingIterableValueType: false
    paths:
        - /source/src
    autoload_directories:
        - /source/src
    ignoreErrors:
        -
            message: "#Access to an undefined property [a-zA-Z0-9\\_]+::\$hitSessions.#"
            path: /source/src/Khaled/WorldPlayerCount.php
            
