parameters:
    level: 1
    checkMissingIterableValueType: false
    paths:
        - /src
    autoload_directories:
        - /src
    ignoreErrors:
        -
            message: "#Access to an undefined property [a-zA-Z0-9\\_]+::\::$hitSessions.#"
            path: /src/Khaled/WorldPlayerCount.php
            
