parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - /source/src
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - /source/src
        - /deps
    ignoreErrors:
        -
            message: "#Access to an undefined property [a-zA-Z0-9\\_]+::\::$hitSessions.#"
            count: 1
            path: /source/src/Khaled/WorldPlayerCount.php
            
